<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-main}">
<body>
	<div layout:fragment="content">
		<div class="row g-3 mb-4 align-items-center justify-content-between">
			<div class="col-auto">
				<h1 class="app-page-title mb-0">THAY ĐỔI THÔNG TIN KHÓA HỌC</h1>
			</div>
			<div class="col-auto">
				<div class="page-utilities">
					<div class="row g-2 justify-content-start justify-content-md-end align-items-center">
						<div class="col-auto">						    
							<button type="submit" class="btn app-btn-secondary" form="add-course-form">
                                Lưu khóa học
                            </button>
						</div>
					</div>
				</div>
			</div>
		</div>

        <div class="app-card p-4">
            <form action="/courses/update-course" th:object="${course}" method="POST" id="add-course-form">
                <input type="hidden" th:value="${course.id}" name="id">
                <div class="mb-3">
                    <label for="name" class="form-label">Tên Khóa Học</label>
                    <input type="text" class="form-control" th:field="*{name}" th:value="${course.name}" id="name" name="name">
                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red"></div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Mô Tả Khóa Học</label>
                    <textarea class="form-control" th:field="*{description}" th:value="${course.description}" id="description" name="description"></textarea>
                    <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color:red"></div>
                </div>
                <div class="mb-3">
                    <label for="duration" class="form-label">Số Giờ Học</label>
                    <input type="number" class="form-control" th:field="*{duration}" th:value="${course.duration}" id="duration" name="duration">
                    <div th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}" style="color:red"></div>
                </div>
                <div class="mb-3">
                    <label for="createAt" class="form-label">Ngày Tạo Khóa Học</label>
                    <input type="date" class="form-control" th:field="*{createAt}" th:value="${course.createAt}" id="createAt" name="createAt">
                    <div th:if="${#fields.hasErrors('createAt')}" th:errors="*{createAt}" style="color:red"></div>
                </div>
            </form>
        </div>
	</div>
</body>
</html>